extends ../layouts/account-layout


block content
  .login-container
    .login-box(style="height: 500px;")
      form#request-form.login-form(method='POST')
        h1 Thank you 
        br
        br
        p Your request will be reviewed. Please be patient.

        br
        u
          a(href="/" style="align-self: flex-start;")
            i.fa.fa-chevron-left.mr-3
            | Home Page