
ul.nav.flex-column
  li.nav-item
    a.nav-link(href='/settings/') General
  li.nav-item 
    a.nav-link(href='/settings/new-users/') New Users
  li.nav-item 
    a.nav-link(href='/settings/exports/') Exports
  li.nav-item 
    a.nav-link(href='/settings/email-templates/') Email Templates
  li.nav-item 
    a.nav-link(href='/settings/password-policy/') Password Policy
