
ul.nav.flex-column
  li.nav-item
    a.nav-link(href='/settings/') General
  li.nav-item 
    a.nav-link(href='/settings/applications/') Applications
  li.nav-item 
    a.nav-link(href='/settings/cors/') Cors
  li.nav-item 
    a.nav-link(href='/settings/email-templates/') Email Templates
  li.nav-item 
    a.nav-link(href='/settings/password-policy/') Password Policy
  li.nav-item 
    a.nav-link(href='/settings/privacy-policy/') Privacy Policy
