extends ../../layouts/_layout

block variables
  - var activePage = 'user-management';

block content
  .app-title
    div
      h1
        i.fa.fa-users
        | User Management
      p 
        | Manage the User that use your application

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | User Management

  .row
    .col-md-12
      .tile
        .tile-title
          a.btn.btn-primary(href="/user-management/form") New User
        .tile-body
          .table-responsive
            table.table.table-hover.table-bordered#leadManagementTable
              thead
                tr
                  th Email
                  th Action

block head
  link(rel='stylesheet', type='text/css', href='/css/lib/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', type='text/css', href='/css/lib/buttons.bootstrap4.min.css')

block specific-js
  // Data table plugin
  script(type='text/javascript', src="/js/lib/jquery.dataTables.min.js")
  script(type='text/javascript', src="/js/lib/dataTables.bootstrap4.min.js")
  script(type='text/javascript', src="/js/lib/buttons.bootstrap4.min.js")
  script(type='text/javascript', src='/js/views/pages/user-management/list.js')
