extends ../../layouts/_layout

block variables
  - var activePage = 'user-management';

block content
  .app-title
    div
      h1
        i.fa.fa-users
        | User Management
      p 
        | Manage the User that use your application

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | User Management

  .row
    .col-md-12
      .tile
        .tile-title
          a.btn.btn-primary(href="/user-management/form") New User
          .float-right 
          
            form#search
              .form-group
                .input-group
                  input#search-input.form-control(type='text', placeholder='user email')
                  .input-group-append
                    //- span.input-group-text 
                    button.btn.btn-secondary(type="submit") Search
          
          
          .form-group 
            .input-group
              label.mr-2(for='filter') Filter
              select#filter
                option All
                option Admin
                option Normal Users
                option Test Users
                option Application Users
          
        .tile-body
          .table-responsive
            table.table.table-hover.table-bordered#leadManagementTable
              thead
                tr
                  th Email
                  th Type
                  th Is Admin 
                  th Action

  h3 User Requests
  .row
    .col-md-12
      .tile
        .tile-body
          .table-responsive
            table.table.table-hover.table-bordered#userRequestTable
              thead
                tr
                  th Email
                  th Name
                  //- th Status
                  th Action
block head
  link(rel='stylesheet', type='text/css', href='/css/lib/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', type='text/css', href='/css/lib/buttons.bootstrap4.min.css')

block specific-js
  // Data table plugin
  script(type='text/javascript', src="/js/lib/jquery.dataTables.min.js")
  script(type='text/javascript', src="/js/lib/dataTables.bootstrap4.min.js")
  script(type='text/javascript', src="/js/lib/buttons.bootstrap4.min.js")
  script(type='text/javascript', src='/js/views/pages/user-management/list.js')
