extends ../../layouts/_layout

block variables
  - var activePage = 'roles';

block content
  .app-title
    div
      h1
        i.fa.fa-object-group
        | Roles
      p 
        | Group permissions into bundles called roles

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Roles

  .row
    .col-md-12
      .tile
        .tile-title
          a.btn.btn-primary(href="/roles/form") New Role
          .float-right 
            form#search
              .form-group
                .input-group
                  input#search-input.form-control(type='text', placeholder='role name')
                  .input-group-append
                    //- span.input-group-text 
                    button.btn.btn-secondary(type="submit") Search
        .tile-body
          .table-responsive
            table.table.table-hover.table-bordered#rolesTable
              thead
                tr
                  th Role
                  th Action

block head
  link(rel='stylesheet', type='text/css', href='/css/lib/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', type='text/css', href='/css/lib/buttons.bootstrap4.min.css')

block specific-js
  // Data table plugin
  script(type='text/javascript', src="/js/lib/jquery.dataTables.min.js")
  script(type='text/javascript', src="/js/lib/dataTables.bootstrap4.min.js")
  script(type='text/javascript', src="/js/lib/buttons.bootstrap4.min.js")
  script(type='text/javascript', src='/js/views/pages/roles/list.js')