extends ../../layouts/_layout

block variables
  - var activePage = 'permissions';

block content
  if id
    input#_id(type="hidden" value=id)
  .app-title
    div
      h1
        i.fa.fa-key
        if id 
          | Edit Permission
        else
          | New Permission

  .row
    .col-md-12
      .tile
        .overlay#generalLoading
          .m-loader.mr-4
            svg.m-circular(viewbox='25 25 50 50')
              circle.path(cx='50' cy='50' r='20' fill='none' stroke-width='4' stroke-miterlimit='10')
          h3.l-text Loading 
        form( autocomplete="off", id="permission_form")
          .tile-body
              .form-group
                  label.col-form-label(for='inputDefault') Name
                  input#name.form-control(type='text' value=data ? data.name : "")

          .tile-footer
                  button#submit-lead.btn.btn-primary(type='submit') Save
  if id                
    .row
      .col-md-12
        .tile.danger-top
          .page-header
            .row
              .col-lg-12
                h2.mb-3.line-head#buttons Danger Zone
            .row
              .col-lg-12
                button.btn.btn-danger.pull-right(data-toggle="modal" data-target="#delete-lead") Delete
                p 
                  strong Delete Permission 
                  | - This permission will not be visible to anyone but database developers. 

    .modal#delete-lead(tabindex="-1" role="dialog")
      .modal-dialog(role='document')
        .modal-content
          .modal-header.bg-danger.text-light
            h5.modal-title DELETE PERMISSION
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .form-group.has-danger
              label.form-control-label(for='inputDanger1') 
                | You are about to delete a permission. Please enter 
                strong "delete-
                  span#deletePermission=data.name 
                  | " 
                | in the input below
              input#userInputDeletePermission.form-control.is-invalid(type='text')
            //- p You are about to block the lead from services. Please enter 
            //-   strong "delete - 
            //-     span.lead-email
            //-     | " 
            //-   | in the input below
          .modal-footer
            button.btn(type='button', data-dismiss='modal') Cancel
            div.btn.btn-secondary#submitDeletePermission(onclick="app.permissions.delete()" disabled) Delete Permission
        
            

block specific-js
  script(type='text/javascript', src='/js/views/pages/permissions/form.general.js')
  if id
    script(type='text/javascript', src='/js/views/pages/permissions/form.danger.js')