extends ../../layouts/_layout

block variables
  - var activePage = 'settings';

block content
  .app-title
    div
      h1
        i.fa.fa-cog
        | Settings

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Settings

  .row
    .col-md-12
      .tile
        .tile-body
          .row
            .col-md-3
              include ../../includes/settings-menu

            .col-md-9
              h2 Exports

block specific-js
  // Data table plugin
  script.
    app.settings = {};
    app.settings.passwordPolicy = {};
    app.settings.passwordPolicy.data = {};
  script(type='text/javascript', src='/js/views/pages/settings/settings-exports.js')
