extends ../../layouts/_layout

block variables
  - var activePage = 'settings';

block content
  .app-title
    div
      h1
        i.fa.fa-cog
        | Settings

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Settings

  .row
    .col-md-12
      .tile
        .tile-body
          .row
            .col-md-3
              include ../../includes/settings-menu

            .col-md-9
              h2 Password Policy

              
              .form-group
                label(for='exampleInputEmail1') Minimum password length
                input#exampleInputEmail1.form-control(type='number', aria-describedby='emailHelp', placeholder='DEFAULT: 6')

              //- .form-group
              //-   label.control-label Password expires in
              //-   .form-group
              //-     label.sr-only(for='exampleInputAmount') 
              //-     .input-group
              //-       input#exampleInputAmount.form-control(type='number', placeholder='DEFAULT: disabled')
              //-       .input-group-append
              //-         span.input-group-text Days

              //- .form-group
              //-   label.control-label Enforce password history
              //-   .form-group
              //-     label.sr-only(for='exampleInputAmount') 
              //-     .input-group
              //-       input#exampleInputAmount.form-control(type='number', placeholder='DEFAULT: 10')
              //-       .input-group-append
              //-         span.input-group-text Passwords remembered

              
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | Require at least one uppercase letter
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | Require at least one lowercase letter
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | Require at least one number
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  | Require at least one symbol character

              br

              button.btn.btn-primary(type='button') Save
block specific-js
  // Data table plugin
//-   script(type='text/javascript', src="/js/plugins/jquery.dataTables.min.js")
//-   script(type='text/javascript', src="/js/plugins/dataTables.bootstrap.min.js")
//-   script(type='text/javascript', src="/js/lib/dataTables.buttons.js")
//-   script(type='text/javascript', src='/js/pages/lead-management/index.js')
