extends ../../layouts/_layout

block variables
  - var activePage = 'settings';

block content
  .app-title
    div
      h1
        i.fa.fa-cog
        | Settings

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Settings

  .row
    .col-md-12
      .tile
        .overlay#settingsGeneralLoading
          .m-loader.mr-4
            svg.m-circular(viewbox='25 25 50 50')
              circle.path(cx='50' cy='50' r='20' fill='none' stroke-width='4' stroke-miterlimit='10')
          h3.l-text Loading 
        .tile-body
          .row
            .col-md-3
              include ../../includes/settings-menu

            .col-md-9
              h2 General
              .form-group
                label(for='exampleInputEmail1') Company Name
                input#companyName.form-control(type='email', aria-describedby='emailHelp', placeholder='Awesome Company LLC')
                small#emailHelp.form-text.text-muted Used for email templates.

              button.btn.btn-primary(type='button' onclick="app.settings.index.save()") Save

block specific-js
  // Data table plugin
  script.
    app.settings = {};
    app.settings.imports = {};
    app.settings.imports.data = {};
  script(type='text/javascript', src='/js/views/pages/settings/settings-index.js')

