extends ../../layouts/_layout

block variables
  - var activePage = 'settings';

block content
  .app-title
    div
      h1
        i.fa.fa-cog
        | Settings

    
    ul.app-breadcrumb.breadcrumb.side
      li.breadcrumb-item
        a(href="/dashboard")
          i.fa.fa-home.fa-lg
      li.breadcrumb-item
        | Settings

  .row
    .col-md-12
      .tile
        .overlay#settingsEmailTemplatesLoading
          .m-loader.mr-4
            svg.m-circular(viewbox='25 25 50 50')
              circle.path(cx='50' cy='50' r='20' fill='none' stroke-width='4' stroke-miterlimit='10')
          h3.l-text Loading 
        .tile-body
          .row
            .col-md-3
              include ../../includes/settings-menu

            .col-md-9
              h2 Email Templates
              br
              
              h3.mt-5 Variables
              .table-responsive
                table.table.table-hover.table-bordered#sampleTable
                  thead
                    tr
                      th Name
                      th Value
                  tbody
                    tr
                      td 
                        strong {{host}}
                      td           
                        input#varsHost.form-control(type='text', placeholder='http://localhost:8080/')
                    tr
                      td 
                        strong {{fromEmail}}
                      td           
                        input#varsFromEmail.form-control(type='text', placeholder='example@email.com')
                    tr
                      td 
                        strong {{company}}
                      td           
                        input#varsCompany.form-control(type='text', placeholder='our company')
                    tr
                      td 
                        strong {{token}}
                      td No Defaults
                    
                    tr
                      td 
                        strong {{userEmail}}
                      td No Defaults
                    tr
                      td 
                        strong {{username}}
                      td Default: 
                        input#varsUsername.form-control(type='text', placeholder='buddy')

                    
                      
								
              br

              h3.mt-5 Email Address Verification
              
              .form-group
                label(for='emailVerificationSubject') Subject
                input#emailVerificationSubject.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email')
                         
              .form-group
                label(for='emailVerificationMessage') Message
                textarea#emailVerificationMessage.form-control(rows='8')

              h3.mt-5 Password Reset

              .form-group
                label(for='passwordResetSubject') Subject
                input#passwordResetSubject.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email')
                  
              .form-group
                label(for='passwordResetMessage') Message
                textarea#passwordResetMessage.form-control(rows='8')

              h3.mt-5 Password Was Reset Sucessfully

              .form-group
                label(for='resetPasswordEmailSubject') Subject
                input#resetPasswordEmailSubject.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email')
                  
              .form-group
                label(for='resetPasswordEmailMessage') Message
                textarea#resetPasswordEmailMessage.form-control(rows='8')

              //- h3.mt-5 Email address change

              //- .form-group
              //-   label(for='emailChangeSubject') Subject
              //-   input#emailChangeSubject.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email')
                  
              //- .form-group
              //-   label(for='emailChangeMessage') Message
              //-   textarea#emailChangeMessage.form-control(rows='8')

              h3.mt-5 User Request Approved

              .form-group
                label(for='userApprovedSubject') Subject
                input#userApprovedSubject.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter email')
                  
              .form-group
                label(for='userApprovedMessage') Message
                textarea#userApprovedMessage.form-control(rows='8')

              div.btn.btn-primary.mt-5.mb-5(onclick="app.settings.emailTemplates.save()") Save
              
block specific-js
  // Data table plugin
  script.
    app.settings = {};
    app.settings.emailTemplates = {};
    app.settings.emailTemplates.data = {};
  script(type='text/javascript', src='/js/views/pages/settings/settings-email-templates.js')
